sfccbdmq-ejb/src/conf/wsdl/servicios.bomberosquito.gob.ec_8080/PersonasWS/PersonasWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.personas.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.personas.com/" name="PersonasWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.personas.com/" schemaLocation="http://servicios.bomberosquito.gob.ec:8080/PersonasWS/PersonasWS?xsd=1"/>
</xsd:schema>
</types>
<message name="empleadoActivo">
<part name="parameters" element="tns:empleadoActivo"/>
</message>
<message name="empleadoActivoResponse">
<part name="parameters" element="tns:empleadoActivoResponse"/>
</message>
<message name="traerJefeInmediato">
<part name="parameters" element="tns:traerJefeInmediato"/>
</message>
<message name="traerJefeInmediatoResponse">
<part name="parameters" element="tns:traerJefeInmediatoResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="ConsultarException">
<part name="fault" element="tns:ConsultarException"/>
</message>
<message name="traerJefeZona">
<part name="parameters" element="tns:traerJefeZona"/>
</message>
<message name="traerJefeZonaResponse">
<part name="parameters" element="tns:traerJefeZonaResponse"/>
</message>
<message name="traerJefeDistrital">
<part name="parameters" element="tns:traerJefeDistrital"/>
</message>
<message name="traerJefeDistritalResponse">
<part name="parameters" element="tns:traerJefeDistritalResponse"/>
</message>
<message name="traerDireccion">
<part name="parameters" element="tns:traerDireccion"/>
</message>
<message name="traerDireccionResponse">
<part name="parameters" element="tns:traerDireccionResponse"/>
</message>
<message name="traerDireccionActual">
<part name="parameters" element="tns:traerDireccionActual"/>
</message>
<message name="traerDireccionActualResponse">
<part name="parameters" element="tns:traerDireccionActualResponse"/>
</message>
<message name="traerDireccionEmpleado">
<part name="parameters" element="tns:traerDireccionEmpleado"/>
</message>
<message name="traerDireccionEmpleadoResponse">
<part name="parameters" element="tns:traerDireccionEmpleadoResponse"/>
</message>
<message name="traerJefeDePeloton">
<part name="parameters" element="tns:traerJefeDePeloton"/>
</message>
<message name="traerJefeDePelotonResponse">
<part name="parameters" element="tns:traerJefeDePelotonResponse"/>
</message>
<message name="loginAD">
<part name="parameters" element="tns:loginAD"/>
</message>
<message name="loginADResponse">
<part name="parameters" element="tns:loginADResponse"/>
</message>
<message name="traerEmpleado">
<part name="parameters" element="tns:traerEmpleado"/>
</message>
<message name="traerEmpleadoResponse">
<part name="parameters" element="tns:traerEmpleadoResponse"/>
</message>
<message name="poneSalida">
<part name="parameters" element="tns:poneSalida"/>
</message>
<message name="poneSalidaResponse">
<part name="parameters" element="tns:poneSalidaResponse"/>
</message>
<message name="traerDirecciones">
<part name="parameters" element="tns:traerDirecciones"/>
</message>
<message name="traerDireccionesResponse">
<part name="parameters" element="tns:traerDireccionesResponse"/>
</message>
<message name="estacion">
<part name="parameters" element="tns:estacion"/>
</message>
<message name="estacionResponse">
<part name="parameters" element="tns:estacionResponse"/>
</message>
<message name="estaciones">
<part name="parameters" element="tns:estaciones"/>
</message>
<message name="estacionesResponse">
<part name="parameters" element="tns:estacionesResponse"/>
</message>
<message name="pidePermiso">
<part name="parameters" element="tns:pidePermiso"/>
</message>
<message name="pidePermisoResponse">
<part name="parameters" element="tns:pidePermisoResponse"/>
</message>
<message name="traerEmpleadoCargo">
<part name="parameters" element="tns:traerEmpleadoCargo"/>
</message>
<message name="traerEmpleadoCargoResponse">
<part name="parameters" element="tns:traerEmpleadoCargoResponse"/>
</message>
<message name="pidePermisoFecha">
<part name="parameters" element="tns:pidePermisoFecha"/>
</message>
<message name="pidePermisoFechaResponse">
<part name="parameters" element="tns:pidePermisoFechaResponse"/>
</message>
<message name="pidePermisoMiliseg">
<part name="parameters" element="tns:pidePermisoMiliseg"/>
</message>
<message name="pidePermisoMilisegResponse">
<part name="parameters" element="tns:pidePermisoMilisegResponse"/>
</message>
<message name="poneIngreso">
<part name="parameters" element="tns:poneIngreso"/>
</message>
<message name="poneIngresoResponse">
<part name="parameters" element="tns:poneIngresoResponse"/>
</message>
<message name="traerPersonas">
<part name="parameters" element="tns:traerPersonas"/>
</message>
<message name="traerPersonasResponse">
<part name="parameters" element="tns:traerPersonasResponse"/>
</message>
<message name="cambioClave">
<part name="parameters" element="tns:cambioClave"/>
</message>
<message name="cambioClaveResponse">
<part name="parameters" element="tns:cambioClaveResponse"/>
</message>
<portType name="PersonasWS">
<operation name="empleadoActivo">
<input wsam:Action="http://ws.personas.com/PersonasWS/empleadoActivoRequest" message="tns:empleadoActivo"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/empleadoActivoResponse" message="tns:empleadoActivoResponse"/>
</operation>
<operation name="traerJefeInmediato">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerJefeInmediatoRequest" message="tns:traerJefeInmediato"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerJefeInmediatoResponse" message="tns:traerJefeInmediatoResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws.personas.com/PersonasWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/loginResponse" message="tns:loginResponse"/>
<fault message="tns:ConsultarException" name="ConsultarException" wsam:Action="http://ws.personas.com/PersonasWS/login/Fault/ConsultarException"/>
</operation>
<operation name="traerJefeZona">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerJefeZonaRequest" message="tns:traerJefeZona"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerJefeZonaResponse" message="tns:traerJefeZonaResponse"/>
</operation>
<operation name="traerJefeDistrital">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerJefeDistritalRequest" message="tns:traerJefeDistrital"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerJefeDistritalResponse" message="tns:traerJefeDistritalResponse"/>
</operation>
<operation name="traerDireccion">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerDireccionRequest" message="tns:traerDireccion"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerDireccionResponse" message="tns:traerDireccionResponse"/>
</operation>
<operation name="traerDireccionActual">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerDireccionActualRequest" message="tns:traerDireccionActual"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerDireccionActualResponse" message="tns:traerDireccionActualResponse"/>
</operation>
<operation name="traerDireccionEmpleado">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerDireccionEmpleadoRequest" message="tns:traerDireccionEmpleado"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerDireccionEmpleadoResponse" message="tns:traerDireccionEmpleadoResponse"/>
</operation>
<operation name="traerJefeDePeloton">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerJefeDePelotonRequest" message="tns:traerJefeDePeloton"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerJefeDePelotonResponse" message="tns:traerJefeDePelotonResponse"/>
</operation>
<operation name="loginAD">
<input wsam:Action="http://ws.personas.com/PersonasWS/loginADRequest" message="tns:loginAD"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/loginADResponse" message="tns:loginADResponse"/>
<fault message="tns:ConsultarException" name="ConsultarException" wsam:Action="http://ws.personas.com/PersonasWS/loginAD/Fault/ConsultarException"/>
</operation>
<operation name="traerEmpleado">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerEmpleadoRequest" message="tns:traerEmpleado"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerEmpleadoResponse" message="tns:traerEmpleadoResponse"/>
<fault message="tns:ConsultarException" name="ConsultarException" wsam:Action="http://ws.personas.com/PersonasWS/traerEmpleado/Fault/ConsultarException"/>
</operation>
<operation name="poneSalida">
<input wsam:Action="http://ws.personas.com/PersonasWS/poneSalidaRequest" message="tns:poneSalida"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/poneSalidaResponse" message="tns:poneSalidaResponse"/>
</operation>
<operation name="traerDirecciones">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerDireccionesRequest" message="tns:traerDirecciones"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerDireccionesResponse" message="tns:traerDireccionesResponse"/>
</operation>
<operation name="estacion">
<input wsam:Action="http://ws.personas.com/PersonasWS/estacionRequest" message="tns:estacion"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/estacionResponse" message="tns:estacionResponse"/>
</operation>
<operation name="estaciones">
<input wsam:Action="http://ws.personas.com/PersonasWS/estacionesRequest" message="tns:estaciones"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/estacionesResponse" message="tns:estacionesResponse"/>
</operation>
<operation name="pidePermiso">
<input wsam:Action="http://ws.personas.com/PersonasWS/pidePermisoRequest" message="tns:pidePermiso"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/pidePermisoResponse" message="tns:pidePermisoResponse"/>
</operation>
<operation name="traerEmpleadoCargo">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerEmpleadoCargoRequest" message="tns:traerEmpleadoCargo"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerEmpleadoCargoResponse" message="tns:traerEmpleadoCargoResponse"/>
<fault message="tns:ConsultarException" name="ConsultarException" wsam:Action="http://ws.personas.com/PersonasWS/traerEmpleadoCargo/Fault/ConsultarException"/>
</operation>
<operation name="pidePermisoFecha">
<input wsam:Action="http://ws.personas.com/PersonasWS/pidePermisoFechaRequest" message="tns:pidePermisoFecha"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/pidePermisoFechaResponse" message="tns:pidePermisoFechaResponse"/>
</operation>
<operation name="pidePermisoMiliseg">
<input wsam:Action="http://ws.personas.com/PersonasWS/pidePermisoMilisegRequest" message="tns:pidePermisoMiliseg"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/pidePermisoMilisegResponse" message="tns:pidePermisoMilisegResponse"/>
</operation>
<operation name="poneIngreso">
<input wsam:Action="http://ws.personas.com/PersonasWS/poneIngresoRequest" message="tns:poneIngreso"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/poneIngresoResponse" message="tns:poneIngresoResponse"/>
</operation>
<operation name="traerPersonas">
<input wsam:Action="http://ws.personas.com/PersonasWS/traerPersonasRequest" message="tns:traerPersonas"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/traerPersonasResponse" message="tns:traerPersonasResponse"/>
</operation>
<operation name="cambioClave">
<input wsam:Action="http://ws.personas.com/PersonasWS/cambioClaveRequest" message="tns:cambioClave"/>
<output wsam:Action="http://ws.personas.com/PersonasWS/cambioClaveResponse" message="tns:cambioClaveResponse"/>
</operation>
</portType>
<binding name="PersonasWSPortBinding" type="tns:PersonasWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="empleadoActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerJefeInmediato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ConsultarException">
<soap:fault name="ConsultarException" use="literal"/>
</fault>
</operation>
<operation name="traerJefeZona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerJefeDistrital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerDireccionActual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerDireccionEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerJefeDePeloton">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ConsultarException">
<soap:fault name="ConsultarException" use="literal"/>
</fault>
</operation>
<operation name="traerEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ConsultarException">
<soap:fault name="ConsultarException" use="literal"/>
</fault>
</operation>
<operation name="poneSalida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerDirecciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="estacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="estaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pidePermiso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerEmpleadoCargo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ConsultarException">
<soap:fault name="ConsultarException" use="literal"/>
</fault>
</operation>
<operation name="pidePermisoFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pidePermisoMiliseg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="poneIngreso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambioClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonasWS">
<port name="PersonasWSPort" binding="tns:PersonasWSPortBinding">
<soap:address location="http://servicios.bomberosquito.gob.ec:8080/PersonasWS/PersonasWS"/>
</port>
</service>
</definitions>